<component name="libraryTable">
  <library name="spring-expression-4.2.4.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-expression-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-core-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-context-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-beans-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/log4j-1.2.16.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/commons-logging-1.2.jar!/" />
      <root url="file://$PROJECT_DIR$/WebContent/META-INF" />
      <root url="jar://F:/junit-4.10.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>